.idea/*
\.DS_Store

*.log

backend/influx_config.py

.vscode/

frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/releases
!frontend/.yarn/plugins
!frontend/.yarn/sdks
!frontend/.yarn/versions
frontend/.pnp.*
