[Unit]
Description=Job Monitoring Daemon
After=network.target

[Service]
Type=simple
User=jobmon
WorkingDirectory=/opt/jobmon
ExecStart=/usr/bin/python3 jobmon.py
Restart=on-failure
Environment=PYTHONPATH=/apps/influxdb-client/1.44.0/lib64/python3.9/site-packages:/apps/pyslurm/23.2.x-20240620-py3/lib64/python3.9/site-packages

[Install]
WantedBy=multi-user.target