:root {
    --bad-job-color: #c21807;

    /* Box colors */
    --background: #fff;
    --light-shade: #eee;
    --medium-shade: #ddd;
    --dark-shade: #ccc;

    --text-color: #000;
    --core-ring: #000;

    /* Hover-over colors */
    --hover-outline-color: #555;
    --hover-shade: #fff;
    --hover-black: #000;

    /* Pie colors */
    --piecolor-blank: #ddd;
    --piecolor-user: #637aff;
    --piecolor-system: #17852d;
    --piecolor-wait: #bf2b1a;
    --piecolor-nice: var(--dark-shade);
    --piecolor-mem: #e5b81f;
    --piecolor-disk: #3a2cc2;
    --piecolor-gpu: #9a3fc2;

    /* Pie cycle colors */
    --piecycle-1: #0088fe;
    --piecycle-2: #00c49f;
    --piecycle-3: #ffbb28;
    --piecycle-4: #ff8042;

    /* Transition time */
    --transition-time: 0.2s;

    /* Sizes */
    --switch-width: 100;
    --switch-widthpx: 100px;

    --rounding-radius: 0.3em;
    --box-padding: 1.0em;
    --box-padding-inner: 0.6em;
    --block-spacing: 1.0em;
    --inter-item-spacing: 0.6em;

    --border-width: 0.5px;
  }

[data-theme="dark"] {
  --bad-job-color: #E05243;

  --background: #333;
  --light-shade: #444;
  --medium-shade: #333;
  --dark-shade: #ddd;

  --text-color: #eee;

  --hover-outline-color: #555;
  --hover-shade: #000;
  --hover-black: #000;

  --core-ring: #fff;
}
