:root{
    --bad-job-color: red;

    /*Box colors*/
    --light-shade: #EEEEEE;
    --medium-shade: #DDDDDD;
    --dark-shade: #AAAAAA;

    /*Hover-over colors*/
    --hover-outline-color: #555555;

    /*Pie colors*/
    --piecolor-blank: #DDDDDD;
    --piecolor-user: #637AFF;
    --piecolor-system: #17852D;
    --piecolor-wait: #BF2B1A;
    --piecolor-mem: #E5B81F;
    --piecolor-disk: #3A2CC2;
    --piecolor-gpu: #9A3FC2;

    /*Pie cycle colors*/
    --piecycle-1: #0088FE;
    --piecycle-2: #00C49F;
    --piecycle-3: #FFBB28;
    --piecycle-4: #FF8042;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#time-machine {
    background-color: var(--light-shade);
    width: 90%;
    max-width: 1280px;
    margin: 15px auto;
    justify-content: space-between;
}

#time-machine-title {
    font-size: x-large;
    text-align: center;
}

#timeline {
    padding-left: 2%;
    padding-right: 2%;
}

#clock {
    font-size: x-large;
}

.bad-job {
    color: var(--bad-job-color);
}

#node-pies{
    width: 100%;
    margin: 0 auto;
}

.pie-row {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 50px;
    /*justify-content: space-between;*/
}

.pie-row.headings {
    background: var(--dark-shade);
    min-height: 0px;
    height:100%;
}

.pie-row.items {
    cursor: pointer;
}

.pie-row.items:hover {
    outline-width: 1px;
    outline-color: var(--hover-outline-color);
    outline-style: solid;
}

.pie-row.items:nth-child(odd) {
    background-color: var(--medium-shade);
}

.node-pie {
    width: 23%;
    height: auto;
    /*border: 1px black solid;*/
    display: flex;
    align-items: center;
}

.node-pie.heading {
    align-items: flex-end;
    font-weight:bold;
}

.node-name {
    width: 31%;
    /*border: 1px black solid;*/
    display: flex;
    align-items: center;
}

.node-name.warn{
    color: var(--bad-job-color);
}

.node-name.heading {
    align-items: flex-end;
    font-weight:bold;
}

.job-names {
    text-align: left;
}

.job-names.heading {
    align-items: flex-end;
    font-weight:bold;
    display: flex;
}

.job-name {
    width: 100%;
    /*border: 1px black solid;*/
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
}

.job-name.warn {
    color: var(--bad-job-color);
}

/*.job-name.link {*/
    /*width: 100%;*/
    /*!*border: 1px black solid;*!*/
    /*text-align: left;*/
    /*color: red;*/
/*}*/

#node-description {
    text-align: left;
}

#main-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    /*border: 1px black solid;*/
    align-items: top;
    background-color: var(--light-shade);

}

.main-item{
    height: 100%;
    /*border: 1px black solid;*/
    padding: 2%;
    text-align: left
}

.main-item.left{
    width: 28%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.main-item.center{
    width: 24%;
}

.main-item.right{
    width: 35%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    /*border: 1px black solid;*/
}

.user-string {
    display: flex;
    text-align: left;
    cursor: pointer;
}
.user-string.hovered {
    /*background: var(--dark-shade);*/
    outline-width: 1px;
    outline-color: var(--hover-outline-color);
    outline-style: solid;
}

.user-string.warn {
    color: var(--bad-job-color);
}

.user-string-username{
    flex: 0 0 25%;
    text-align: right;
    padding-right: 5px;
    font-weight:bold;
}

.user-string-percent{
    flex: 0 0 15%;
    padding-right: 5px;
}

.user-string-jobs{
    flex: 0 0 40%;
}

.user-strings {
    display: flex;
    flex-direction: row;
}

.user-strings-col {
    flex: 1 1 50%;
}

.queue-strings {
    align: left;
    width: 100%;
}

.queue-string {
    display: flex;
    text-align: left;
}

.queue-string-username{
    flex: 0 0 15%;
    text-align: right;
    padding-right: 5px;
    font-weight:bold;
    /*border: 1px black solid;*/
}

.queue-string-hours {
    flex: 0 0 35%;
    padding-right: 5px;
    /*border: 1px black solid;*/
}

.queue-string-jobs{
    flex: 0 0 35%;
    text-align: left;
    /*border: 1px black solid;*/
}

#username-title {
    font-size: x-large;
    text-align: center;
}

#nodename-title {
    font-size: x-large;
    text-align: center;
}

.core-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--medium-shade);
    /*margin-top: 5%;*/
    margin-bottom: 2%   ;
}

.core-pie {
    width: 11.111%;
    min-height: 40px;
}

.prop-pies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prop-pie {
    width: 25%;
    height: 80px;
}

.prop-chart {
    width: 100%;
    height: 80px;
}

.instruction {
    font-style: italic;
}

.heading {
    margin-top: 5%;
    font-weight: bold;
}

#cpu-legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--medium-shade);
    margin-bottom: 5%;

}

.cpu-legend-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
}

.cpu-legend-label{

}

.circle {
    width: 1.0em;
    height: 1.0em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 0.3em;
}

.circle.user {
    background: var(--piecolor-user)
}

.circle.system {
    background: var(--piecolor-system)
}

.circle.wait {
    background: var(--piecolor-wait)
}
